<nb-card>
        <nb-card-header class="dashboard-header-text">Topics</nb-card-header>
        <nb-card-body>
          <div class="details">
            <div class="p mb-2"><a href="" class="text-body text-decoration-none " style="cursor: pointer;">UI Kitten</a></div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="form-group position-relative">
            <input type="text" class="form-control" />
            <span class="position-absolute btn btn-light" style="top: 1px; right: 1px; height: 36px"><i class="fa fa-plus"></i></span>
          </div>
        </nb-card-footer>
</nb-card>
    